<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Untree.co">
		<link rel="shortcut icon" href="~/HomeAssets/favicon.png">

		<meta name="description" content="" />
		<meta name="keywords" content="bootstrap, bootstrap4" />
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
		<!-- Bootstrap CSS -->
		<link href="~/HomeAssets/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="~/HomeAssets/css/tiny-slider.css" rel="stylesheet">
		<link href="~/HomeAssets/css/style.css" rel="stylesheet">
		<title>Furni Website </title>
	</head>
</head>
<body>
	<!-- Main content -->

	<!-- Start Header/Navigation -->
	<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="index.html">HomeHaven<span></span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
			@* 	<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item active">
						<a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
					</li>
					<li><a class="nav-link" asp-action="shop" asp-controller="Home">Shop</a></li>
					<li><a class="nav-link" asp-action="AboutUs" asp-controller="Home" >About us</a></li>
					<li><a class="nav-link" asp-action="ContactUs" asp-controller="Home" >Contact us</a></li>
			
				</ul>
			 *@
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")">
						<a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Shop" ? "active" : "")">
						<a class="nav-link" asp-action="shop" asp-controller="Home">Shop</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "AboutUs" ? "active" : "")">
						<a class="nav-link" asp-action="AboutUs" asp-controller="Home">About Us</a>
					</li>
					@if (@ViewBag.Login != null)
					{
						<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "CTestimonial" ? "active" : "")">
							<a class="nav-link" asp-action="CTestimonial" asp-controller="Home">Testimonial</a>
						</li>
						<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "ContactUs" ? "active" : "")">
							<a class="nav-link" asp-action="ContactUs" asp-controller="Home">Contact Us</a>
						</li>
						<li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "OrderUser" ? "active" : "")">
							<a class="nav-link" asp-action="OrderUser" asp-controller="Home">Order</a>
						</li>
					}
					<li>
						<a class="nav-link" asp-action="Index" asp-controller="Cart">
							<img src="~/HomeAssets/images/cart.svg"><sup>
								<span style="width: 18px;display: inline-block; height: 0px; border-radius: 50%; color: white;text-align: center;font-size: 10px;">@ViewBag.Count</span>
							</sup>
						</a>
					</li>
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						@if (@ViewBag.Login != null)
						{

							<li><a class="nav-link" asp-action="Index" asp-controller="UserProfile"><img src="~/HomeAssets/images/user.svg"></a></li>
							<li><a class="nav-link" asp-action="Logout" asp-controller="authentication"><i class="fa-solid fa-right-from-bracket" style="color: #cdd0d5; font-size:20px;padding-top: 5px;"></i></a></li>
							

						
						
						}
						else
						{
							<li><a class="nav-link" asp-action="Login" asp-controller="authentication">Login</a></li>

						}
					</ul>


				</ul>

@* 				<li><a class="nav-link" asp-action="Index" asp-controller="Cart"><img src="~/HomeAssets/images/cart.svg"><sup><span class="circle">@ViewBag.Count</span> </sup> </a></li>
 *@
				
			</div>
		</div>

	</nav>
	<!-- End Header/Navigation -->

		@RenderBody()
	<footer class="footer-section">
		<div class="container relative">

			<div class="sofa-img">
				<img src="~/HomeAssets/images/sofa.png" alt="Image" class="img-fluid">
			</div>


			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">HomeHaven<span>.</span></a></div>
					<p class="mb-4">Transform your living space into a sanctuary with our curated selection of stylish and affordable home furnishings, designed to inspire comfort and elegance in every corner of your home.</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">About us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact us</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Support</a></li>
								<li><a href="#">Knowledge base</a></li>
								<li><a href="#">Live chat</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Our team</a></li>
								<li><a href="#">Leadership</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#">Nordic Chair</a></li>
								<li><a href="#">Kruzo Aero</a></li>
								<li><a href="#">Ergonomic Chair</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by Ahmad ,Wesal ,Duaa </a> Distributed By Orange</a>  <!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>
	</footer>
	<!-- End Footer Section -->

	<script src="~/HomeAssets/js/bootstrap.bundle.min.js"></script>
	<script src="~/HomeAssets/js/tiny-slider.js"></script>
	<script src="~/HomeAssets/js/custom.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
