@model IEnumerable<ecommerce.Models.Order>

@{
	ViewBag.Title = "Orders";
	Layout = "HomeLayout";
}


<h2>Orders</h2>
<div >

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">User Name</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Date Order</th>
                <th scope="col">Invoice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.User.FullName</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        @Html.ActionLink("View Invoice", "ItemInOrder", "Home", new { id = item.Id }, null)
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>
	