@model ecommerce.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}

<div class="container mt-4">
    <h1 class="mb-4">User Details</h1>

    <div class="card" >
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">User Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.PasswordHash)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ImagePath)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.ImagePath)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Role)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.Role.Id)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Birthday)
                </dt>
                <dd class="col-sm-9 mb-3">
                    @Html.DisplayFor(model => model.Birthday)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary" >Back to List</a>
    </div>
</div>
