@model ecommerce.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}

<style>
    .custom-input,
    .custom-select {
        border: 1px solid #ced4da; /* Border color for inputs and selects */
        border-radius: 0.375rem; /* Rounded corners */
        padding: 0.375rem 0.75rem; /* Padding for inputs and selects */
    }

    .custom-input {
        background-color: #ffffff; /* Background color for input fields */
    }

    .custom-select {
        background-color: #ffffff; /* Background color for select dropdowns */
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Order Details</h6>
                <div>
                    <h4>Order</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2 col-form-label font-weight-bold">
                            @Html.DisplayNameFor(model => model.User)
                        </dt>
                        <dd class="col-sm-10 mb-3">
                            @Html.DisplayFor(model => model.User.Id)
                        </dd>
                        <dt class="col-sm-2 col-form-label font-weight-bold">
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </dt>
                        <dd class="col-sm-10 mb-3">
                            @Html.DisplayFor(model => model.TotalAmount)
                        </dd>
                        <dt class="col-sm-2 col-form-label font-weight-bold">
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </dt>
                        <dd class="col-sm-10 mb-3">
                            @Html.DisplayFor(model => model.CreatedAt)
                        </dd>
                        <dt class="col-sm-2 col-form-label font-weight-bold">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-10 mb-3">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>